/*body {
	background: url('../');
	background-repeat: no-repeat;
	background-size: cover;
}*/
* {
	box-sizing: border-box;
}

.js-itinerarylist {
	margin-top:40px;

}
body {
	margin:0;
	background-image: linear-gradient(rgba(0,0,0,0.2),
      rgba(0,0,0,0.1));
	background-color: lightyellow;
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
}

header {
	height:80px;
	padding: 10px 0 10px 0;
	background-color: black;
	color: white;
}
.links{
	padding: 10px;
	text-align: right;
}
.links a{
	margin-left: 30px;
	color: white;
}

#about, #itineraries{
	padding: 100px 0;

}

.newitinerary{
	margin-top: 40px;
}

h1{
	display: inline;
}

img{
	width: 100%;
}

.js-search{
	display: inline; 
	margin-left: 20px;
}

.newadded {
	display: inline;
	margin-left: 20px;
}


section {
	margin-left: 50px;
	
}

.js-input{
	width:300px;
	height:30px;
	padding: 5px;
	border-radius: 5px;
}
#search{
	height: 30px;
		border-radius: 5px;
			font-family: 'Philosopher', sans-serif;


}

.js-itinDetails {
	margin: 10px 0 10px 0;
}


.js-itinerarydetails {
	margin:40px 0 40px 0;
}
.js-itinerarydetails div{
	margin-bottom: 15px;
}


.js-itinDetails label {
	display: block;
}

.js-itinDetails input, textarea {
	margin-bottom: 15px;
}

.smlTextArea {
	height:40px;
	overflow-y: scroll;
}

.lrgTextArea {
	height: 80px;
	overflow-y: scroll;
}

#submit{
	display: block;
	width: 100px;
	height:30px;
	border-radius: 5px;
		font-family: 'Philosopher', sans-serif;

}

#destination {
	width: 300px;

}

.hidden {
	display:none;
}