* {
	box-sizing: border-box;
}

.bg {
	background-image: url('images/bgImage.jpg');
	height:540px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

body {
	margin:0;
	background-image: linear-gradient(rgba(0,0,0,0.2),
      rgba(0,0,0,0.1));
	background-color: lightyellow;
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
}

header {
	height:80px;
	padding: 10px 0 10px 0;
	background-color: black;
	color: white;
}

h1, h3 {
	display: inline;
}

img {
	width: 100%;
}

textarea, input {
	max-width: 100%;
}

.links {
	padding: 10px;
	text-align: right;
}

.links a {
	margin-left: 30px;
	color: white;
}

#about, #itineraries {
	padding: 80px 0;
}

#destination, #days, #budget {
	height: 30px;
}

.back {
	padding-bottom: 100px;
}

.js-destination {
	margin-bottom: 10px;
	
}

.newitinerary {
	margin-top: 40px;
}

.js-search {
	display: inline; 
	margin-left: 20px;
}

.newadded {
	display: inline;
	margin-left: 20px;
}

.js-input {
	width:300px;
	height:30px;
	padding: 5px;
	border-radius: 5px;
}

#search, .js-addItin {
	height: 30px;
	border-radius: 5px;
	font-family: 'Philosopher', sans-serif;
}

.js-itinerarylist {
	margin-top:40px;
}

.js-itinDetails {
	margin: 10px 0 10px 0;
}

.js-itinerarydetails {
	margin:40px 0 40px 0;
}
.js-itinerarydetails div{
	margin-bottom: 15px;
}

.js-itinDetails label {
	display: block;
}

.js-itinDetails input, textarea {
	margin-bottom: 15px;
}

.smlTextArea {
	height:40px;
	overflow-y: scroll;
}

.lrgTextArea {
	height: 80px;
	overflow-y: scroll;
}

#submit, .js-cancel {
	display: block;
	height:30px;
	border-radius: 5px;
	font-family: 'Philosopher', sans-serif;
	padding:0 10px;
}

#destination {
	width: 300px;
}

.hidden {
	display:none;
}